#notes and documentation drafts
readme.md
careful_notes.md
map_tests.md

#raw sprite file
sprites/png/asset_example.clip

#tests (wna to leave them on github but not push in school's repo)
# run_all_maps.sh

#Useless annoying files
.DS_Store
.vscode
